table {
    width: 100%;
    border-collapse: separate; /* Use separate border model */
    border-spacing: 10px; /* Add 10px space between columns */
    margin-top: 20px;
    border-radius: 10px; /* Add border-radius to the table */
    overflow: hidden; /* Ensure the border-radius is applied to the table */
}

th, td {
    border: 1px solid transparent; /* Set border color to transparent */
    background-color: #f2f2f2;
    padding: 8px;
    color: #333; /* Set text color to dark grey */
    text-align: center;
}

th {
    background-color: #f2f2f2;
    text-align: center;
    color: #333; /* Set header text color to dark grey */
    border-radius: 10px 10px 0 0; /* Add border-radius to the header */
}

.center-align {
    text-align: center;
}
