<!-- todos.component.html -->
<main>
    <h1>You've been doughnutted</h1>
    <input type="text" [(ngModel)]="newTodoContent" placeholder="Joe Bloggs">
    <button (click)="createTodo()">+ new</button>
    <ul>
        <li 
            *ngFor="let todo of todos;">
            {{ todo.content }}
        </li>
        
    </ul>
    <div>
        🥳 App successfully hosted. Try creating a new todo.
        <br />
        <a href="https://docs.amplify.aws/gen2/start/quickstart/">
            Review next steps of this tutorial.
        </a>
    </div>
</main>
