@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 1s ease-in-out;
}

table {
    width: 100%;
    border-collapse: separate; /* Use separate border model */
    margin-top: 20px;
    border-radius: 10px; /* Add border-radius to the table */
    overflow: hidden; /* Ensure the border-radius is applied to the table */
    background-color: rgba(255, 255, 255, 0.3); /* More transparent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

th, td {
    padding: 8px;
    color: #333; /* Set text color to dark grey */
    text-align: center;
}

th {
    text-align: center;
    color: #333; /* Set header text color to dark grey */
}

.center-align {
    text-align: center;
}

.error-message {
    color: #ffffff; /* Red color for error message */
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
}
