<!-- todos.component.html -->
<main>
    <h1>You've been doughnutted!</h1>
    <input type="text" [(ngModel)]="newTodoContent" placeholder="Enter Victims Name">
    <button (click)="createTodo()">Add Victim</button>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Offenses</th>
                <th>Doughnuts owed</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos;">
                <td class="left-align">{{ todo.content }}</td>
                <td class="center-align">{{ todo.count }}</td>
                <td class="right-align">{{ todo.paid }}</td>
                <td><button (click)="decreasePaid(todo)">Paid</button></td>
            </tr>
        </tbody>
    </table>
    <div>
        🥳 App successfully hosted. Try creating a new todo.
        <br />
        <a href="https://docs.amplify.aws/gen2/start/quickstart/">
            Review next steps of this tutorial.
        </a>
    </div>
</main>
