<div class="image-container" style="text-align: center;">
    <img src="assets/donut.png" alt="Donut Image" style="width: 60%; height: auto; display: block;">
</div>
<app-todos></app-todos>
<section id="about">
    <h2>About Doughnutted</h2>
    
    <p>Welcome to Doughnutted.com, the sweet spot where cybersecurity meets confectionery!</p> 
    <p>In our office, we have a delicious tradition that serves as a tasty reminder of the importance of computer security. We call it "doughnutting," and here's how it works:</p>
    <p class="bullet">• If an employee leaves their computer unlocked and unattended, they're at risk of being "doughnutted."</p>
    <p class="bullet">• Any observant colleague can use the unattended computer to visit this website (doughnutted.com).</p>
    <p class="bullet">• Once doughnutted, the forgetful employee must buy a box of doughnuts for the entire office.</p>
   
    <p>This practice isn't just about satisfying our sweet tooth. It's a practical demonstration of a crucial cybersecurity principle: if someone has enough time to pull up a picture of doughnuts on your unattended computer, they also have enough time to do something far more malicious.</p>   
    <p>Doughnutted.com serves as both a fun prop for this tradition and a logging system to keep track of offenses and doughnut debts. It's all in good spirit, promoting better security habits while fostering a culture of awareness (and occasional indulgence).</p>
    
    <p>Remember, locking your computer when you step away isn't just good practice—it's the key to avoiding a doughy debt!</p>
    
    <p>And when it's time to pay up, why not treat your colleagues to the best? Check out <a href="https://www.krispykreme.com/" target="_blank">Krispy Kreme</a></p>
</section>