body {
    margin: 0;
    background: radial-gradient(circle, rgb(239,101,190), rgb(25, 42, 81));
    background-size: cover; /* Ensure the background covers the entire viewport */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-attachment: fixed; /* Ensure the background stays fixed during scrolling */
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    min-height: 100vh; /* Ensure the body covers the entire viewport height */
    width: 100vw;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

button {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 1.5em 2em; /* Increase padding to ensure text is not too close to the edge */
    font-size: 1.25em;
    font-weight: bold; /* Make the text bold */
    font-family: inherit;
    background-color: #f3ac56;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    padding: 0 10px; /* Add horizontal padding */
    width: auto; /* Ensure the width is auto for all buttons */
}
button:hover {
    border-color: #e5934a;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input[type="text"], button:not([ng-reflect-ng-class="paid"]) {
    width: 80%; /* Decrease the width of the input box and main button */
    max-width: 300px; /* Set a maximum width */
    margin: 0 auto; /* Center the input and button */
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    border: 1px solid black;
    gap: 1px;
    background-color: black;
    border-radius: 8px;
    overflow: auto;
}

li {
    background-color: white;
    padding: 8px;
}

li:hover {
    background: #dadbf9;
}

a {
    font-weight: 800;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 3.2em; 
}

input[type="text"] {
    display: block; /* Ensure the input box is a block element */
    margin: 10px auto; /* Center the input box */
    padding: 1.5em 2em; /* Increase padding to ensure text is not too close to the edge */
    font-size: 1.25em;
    border-radius: 10px;
    border: 1px solid transparent;
    font-family: inherit;
    box-sizing: border-box;
    padding: 0 10px; /* Add horizontal padding */
}

table {
    padding: 0 10px; /* Add horizontal padding */
}

#about {
    padding: 0 10px; /* Add horizontal padding */
}